@import "tailwindcss";

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


body {
    font-family: "Noto Sans Georgian", sans-serif;
}

.featuredText {
    font-family: "Noto Serif Georgian", serif;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.auto-scroll {
  animation: autoScroll 20s linear infinite;
}

.auto-scroll:hover {
  animation-play-state: paused;
}

.cursor {
    display: inline-block;
    font-size: 1.1rem;
    color: #D8351C;
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}